<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Autor</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-card>
    <ion-card-header>
      <ion-card-title>
        <p>Información</p>
      </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>Aplicación desarrollada por Javier Gallego. A continuación puede consultar más informacin sobre el autor.</p>
      <ion-item button>
        <ion-icon name="book" slot="start" ></ion-icon>
        <ion-label>Currículum vítae</ion-label>
      </ion-item>
      <ion-item>
        <ion-icon name="mail" slot="start" ></ion-icon>
        <ion-label><a href="mailto:email@email.com"><b>Correo:</b> email@email.com</a></ion-label>
      </ion-item>
      <ion-item>
        <ion-icon name="logo-twitter" slot="start" ></ion-icon>
        <ion-label><a href="twitter.com/twitter"><b>Twitter:</b> @twitter</a></ion-label>
      </ion-item>
      <ion-item>
        <ion-icon name="call" slot="start" ></ion-icon>
        <ion-label><a href="tel:999888777"><b>Teléfono:</b> 999888777</a></ion-label>
      </ion-item>
    </ion-card-content>
  </ion-card>

</ion-content>
