<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">      <ion-back-button defaultHref="home"></ion-back-button>    </ion-buttons>
    <ion-title>detalle</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle><img src="assets/pulp_fiction.jpg"/></ion-card-subtitle>
      <ion-card-title>Pulp Fiction</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <b>Director: </b> Quentin Tarantino <br>
      <b>Año: </b> 1994 <br>
      <b>Sinopsis: </b> Jules y Vicent, dos asesinos a sueldo con muy pocas
    </ion-card-content>
  </ion-card>
</ion-content>
