<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
       Inicio
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>
        ¡Videoclub!
      </ion-card-subtitle>
      <ion-card-title>
        Bienvenido a
      </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>¡Videoclub! es una aplicación desarollada con ionic.</p><br>
      <p>Para acceder a la gestión del videoclub pulsa el siguiente botón:</p>
      <ion-button expand="fill" fill="clear">
        <ion-icon name="videocam" slot="start"></ion-icon>
        <ion-label (click)=[abrirVideoClub()]>Acceso a iVideoclub</ion-label>
      </ion-button>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-header>
      <ion-card-title>
        Información sobre el autor
      </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>Aplicación desarrollada por Javier Gallego.</p>
      <ion-button expand="fill" fill="clear">
        <ion-icon name="person" slot="start" ></ion-icon>
        <ion-label (click)=[abrirAutor()]>Consultar información</ion-label>
      </ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>
